[submodule "external/nanopb"]
	path = external/nanopb
	url = https://github.com/nanopb/nanopb.git
[submodule "external/littlefs"]
	path = external/littlefs
	url = https://github.com/ARMmbed/littlefs.git
[submodule "external/cellular"]
	path = external/cellular
	url = https://github.com/u-blox/cellular.git
