[submodule "external/littlefs"]
	path = external/littlefs
	url = https://github.com/ARMmbed/littlefs.git
[submodule "external/QCBOR"]
	path = external/QCBOR
	url = git@github.com:laurencelundblade/QCBOR.git
